/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face{
  font-family: 'Roboto Condensed';
  src: url(Roboto-Condensed.ttf);
  font-family: 'Roboto Bold Condensed';
  src: url(Roboto-BoldCondensed.ttf);
 }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a.link, a.link:hover {
  color:#FFF;
  text-decoration: none;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

ul.menu-list{
  font-family: 'Roboto Condensed';
}
.section {
  flex: 1;
}