// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.tile.is-ancestor{
  flex-wrap: wrap;
}

.header-image {
  background-image: url("headerImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
}