// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'Roboto Bold Condensed';
  src: url(/assets/Roboto-BoldCondensed.ttf);
 }

div.tile.is-ancestor{
  flex-wrap: wrap;
}

.header-image {
  background-image: url("headerImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
}

.product-tile {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  opacity: 0.7;
}

.product-tile:hover {
  opacity: 1.0;
}

p.title, p.tile-price {
  font-family: 'Roboto Bold Condensed';
}

.product-tile p {
  transition: transform .2s; /* Animation */
}

.product-tile:hover p {
  transform: scale(1.2);
}

