// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


div.tile.is-ancestor{
  flex-wrap: wrap;
}

.header-image {
  background-image: url("headerImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #999;
}

.product-tile {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  opacity: 0.7;
}

.product-tile:hover {
  opacity: 1.0;
}

.title, p.tile-price, p.title {
  font-family: 'Roboto Bold Condensed';
}

.subtitle, p.description, small.small-state, li.description {
  font-family: 'Roboto Condensed';
}

.product-tile p, .product-image {
  transition: transform .2s; /* Animation */
}

.product-tile:hover p, .product-image:hover {
  transform: scale(1.2);
}

.is-divider {
  padding: 5px;
}

h1.product-hero-title, h2.subtitle a {
  color: #000;
}

h2.subtitle a:link {
  text-decoration: none;
}

.filter-image{
  width:30px;
}

input.quantity-input[type=number] {
  width: 10%;
}

a.cart-link {
  font-family: 'Roboto Condensed';
}

form input.input-name{
  width: 45%;
}

form input.input-phone {
  width: 25%;
}

form input.input-email {
  width: 58%;
}

form input.input-province, form input.input-postal {
  width: 15%;
}

form input.input-city{
  width: 35%;
}
