<div class="tile is-ancestor">
  <% @categories.each do |category| %>
      <div class="tile is-parent is-6">
        <%= render partial: 'category', locals: { category: category }%>
      </div>
  <% end %>
</div>