<div class="tile is-ancestor">
  <% @categories.each do |category| %>
    <div class="tile is-parent is-3">
      <div class="tile hero-body is-child box has-text-centered">
        <div class="py-6">
          <%= link_to category.name + "s", category %>
        </div>
      </div>
    </div>
  <% end %>
</div>