<<<<<<< HEAD
<% if @category.products.empty? %>
  <p>No products available right now</p>
<% else %>
  <div class="tile is-ancestor">
    <% @category.products.each do |product| %>
      <div class="tile is-parent is-4">
        <%= render partial: '/products/product', locals: { product: product }%>
      </div>
    <% end %>
  </div>
=======
<% if @category.products.empty? %>
  <p>No products available right now</p>
<% else %>
  <div class="tile is-ancestor">
    <% @category.products.each do |product| %>
      <div class="tile is-parent is-4">
        <%= render partial: '/products/product', locals: { product: product }%>
      </div>
    <% end %>
  </div>
>>>>>>> Redesign-Layout-for-products-and-categories
<% end %>