<hr>
<p class="title is-size-6 p-0 m-0 mb-2">In your cart:</p>
<ul>
  <% session[:cart_with_options].each do |cart_product| %>
    <%
      product = Product.find(cart_product["id"])
      color = Color.find(cart_product["p_color_id"])
      size = Size.find(cart_product["p_size_id"])
    %>
    <li class="description">- <%= pluralize cart_product["quantity"].to_i, product.name %> - <%= color.name %>, <%= size.code %></li>
  <% end %>
</ul>
<hr>