<div class="modal" id="modalEdicion<%= counter.to_s%>">
    <div onclick="refs.modalEdicion<%= counter.to_s%>.close()" class="modal-background"></div>
    <div class="modal-content">
        <%= image_tag(product_image.image) if product_image.image.attached? %>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="refs.modalEdicion<%= counter.to_s%>.close()"></button>
</div>