<h1>All Products</h1>
<br>
<div class="tile is-ancestor">
  <% @all_products.each do |product| %>
    <div class="tile is-parent is-4">
      <%= render partial: 'product', locals: { product: product }%>
    </div>
  <% end %>
</div>
