<p class="title is-size-4">Enter your information!</p>
<%= render partial: "cart_preview" %>
<% flash.each do |type, msg| %>
  <div class="notification is-<%= type %>">
    <%= msg %>
  </div>
<% end %>
<%= render partial: "customer_info_form" %>

