<section class="hero is-dark is-medium mb-5 header-image">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>

<% if @np.empty? %>
  <p>No New Products to show</p>
<% else %>
  <div class="tile is-ancestor">
    <% @np.each do |product| %>
        <div class="tile is-parent is-4">
          <%= render partial: 'product', locals: { product: product }%>
        </div>
    <% end %>
  </div>
<% end %>



