<% flash.each do |type, msg| %>
  <div class="notification is-<%= type %>">
    <%= msg %>
  </div>
<% end %>
<section class="hero is-dark is-medium header-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
       Unified Apparel
      </h1>
      <h2 class="subtitle">
        All as one.
      </h2>
    </div>
  </div>
</section>
<% if @np.empty? %>
  <div class="has-text-centered">
    <h1 class="title is-size-3"><%= link_to "View All Products >", all_products_products_path %></h1>
  </div>
<% else %>
  <div class="has-text-centered pt-5 pb-2">
    <h1 class="title is-size-4">latest release</h1>
  </div>
  <div class="tile is-ancestor">
    <% @np.each do |product| %>
        <div class="tile is-parent is-4">
          <%= render partial: 'product', locals: { product: product }%>
        </div>
    <% end %>
  </div>
<% end %>



