<section class="hero is-dark is-medium mb-5">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        This is Unified Apparel
      </h1>
      <h2 class="subtitle">
        <%= link_to "Shop Now >", all_products_products_path %>
      </h2>
    </div>
  </div>
</section>

<div class="tile is-ancestor">
  <% @products.each do |product| %>
    <% if product.state.name == "New" %>
      <div class="tile is-parent is-6">
        <%= render partial: 'product', locals: { product: product }%>
      </div>
    <% end %>
  <% end %>
</div>

